<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style type="text/css" media="screen">
      body {
        text-align: center;
        margin: 4em auto;
      }
    </style>
  </head>
  <body>

    <%= image_tag 'banderole.jpg' %>

  </body>
</html>
